.App {
  position: relative;
  min-height: 100vh;
}

/* .app__headlines {
  display: flex;
  justify-content: center;
}
.app__paragraph {
  max-width: 400px;
  display: none;
  margin-top: 9rem;
  margin-right: 22%;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;

  color: #acacac;
}

@media (min-width: 1080px) {
  .app__paragraph {
    display: flex;
  }
} */
